<<<<<<< HEAD
.card{
    min-height: 155px;
=======
/* .card_txt {
    min-height: 155px;
} */

.card {
    transition: all .3s;
    cursor: pointer;
>>>>>>> 08a01bba9961e185f2cc9acb77147f773b425f9d
}

.card:hover {
    transform: scale(1.1, 1.1);
}

/* @media screen and (min-width:769px){
   .cart_txt{ min-height:500px ;}
} */