/* .card_txt {
    min-height: 155px;
} */

.card {
    transition: all .3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

/* @media screen and (min-width:769px){
   .cart_txt{ min-height:500px ;}
} */