body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tarea{
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 5px;
}


.formulario{
  box-shadow: 1px 1px 5px #eee;
  border-radius: 5px;
  
}